.btn-link {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

header {
    background-image: url('../img/banner_desktop.png');
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;

}

.input-group {
    width: 20%;    
}



nav .row {
    height: 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    list-style: none;

}

section {
    margin: auto;
}

.icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icone a {
    text-decoration: none;
    font-weight: 700;
}

/* .icone span {
    font-size: 2rem;
    display: flex;
} */