:root {
    --cor-01: #f9f9f9;
}



nav .row {
    height: 0;
}

.btn-link {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

header {
    height: 80vh;
    background-image: url('../img/banner_desktop.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;

}

.input-group {
    width: 20%;    
}



nav .row {
    height: 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    list-style: none;

}

section {
    margin: auto;
    height: 100vh;
}

#icones img {
    height: 10rem;
    display: flex;
    justify-content: space-around;
}

.icone {
    padding: 5rem 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
}

.icone a {
    text-decoration: none;
    font-weight: 700;
}

.icone span {
    font-size: 2rem;
} 

button {
    padding: 0.5rem 1rem ;
    background-color: #c8062d;
    color: white;
    font-weight: 700;
}
